body {
	margin: 0px;
	padding: 0px;
}

#topbar {
	padding:2px;
	color: black;
	width: 100%;
	height: 18px;
	background-color:#FFFFFF;
	opacity:0.5;
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
	position:fixed;
	top:0px;
	left:0px;
	margin:0px;
	border-bottom:2px solid #C0C0C0;
	z-index:10;
}

#topbar:hover {
	opacity:1;
}
#topbarright {
	position: absolute;
	right: 4px;
	top: 2px;
}


#bbody {
	/*padding-top: 34px;*/
	max-width:1024px;
	margin:auto;
}

h1 {
	font: 18px "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight:bold;
	color: #808080;
	/*padding: 0px;
	margin:0px;*/
	text-align:center;
}




#share-panel {
    display:none;
}




.part {
	position: relative;
	background-color: #FFFF99;
	border-width: 0px;
	border: 1px solid #808080;
	border-radius:3px;
	padding: 4px;
	height: 50px;
	width:130px;
	cursor: pointer;
}

.part-selected {
	position: relative;
	background-color: #FFFF99;
	border-width: 0px;
	border: 1px solid #808080;
	border-radius:3px;
	padding: 4px;
	height: 50px;
	width:130px;
	cursor: pointer;
}

.part-canvas {
	position:absolute;
	left:10%;
	top:20px;
	width:90%;
	height:30px;
}

.part-votes {
	position: absolute;
	left: 3px;
	top: 0px;
	font-size: 14pt;
}

.part-votes-caption {
	position:relative;
	top:-2px;
	font-size: 8pt;
	color:#606060;
}

.part-caption {
	position: absolute;
	left: 100px;
	top: 10px;
}

.part-type {
	font-weight: bold;
}

.part-time {
	position: absolute;
	top: 3px;
	right: 3px;
	font-style: italic;
	font-size: 10pt;
	color: #404040;
}

div.vote-up {
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;  /* left arrow slant */
	border-right: 6px solid transparent; /* right arrow slant */
	border-bottom: 10px solid #2f2f2f; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
	
	position:absolute;
	top:24px;
	left:4px;
}

div.vote-down {
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;  /* left arrow slant */
	border-right: 6px solid transparent; /* right arrow slant */
	border-top: 10px solid #2f2f2f; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
	
	position:absolute;
	top:36px;
	left:4px;
}

.
.relative-container {
	position:relative;
}

.more-results-button {
	cursor:pointer;
	border:1px solid gray;
	border-radius:2px;
    background-color:4fa5d5;
    font-size:14pt;
    margin:2px; 
    padding:4px;
    display:inline-block;
}

.part-list-last-row {
	text-align:right;
	
}

.
.result-range {
	display:inline-block;
}



.list-caption {
	text-align:center;
}


.nodata, #contact, #left-panel-go-back, #left-panel-heading {
	text-align:center;
	color:#404040;
	font:10pt Helvetica, arial, freesans, clean, sans-serif;
}

hr {
	border-color:#E0E0E0;
	border-style:solid;
}

.result-area {
	display:inline-block;
	text-align:center;
/*	margin-left:35px;*/
}

.explanation {
	padding:15px;
	color:#707070;
	font:15pt Helvetica, arial, freesans, clean, sans-serif;
	text-align:center;
}

.try-details {
	padding:15px;
	font:15pt Helvetica, arial, freesans, clean, sans-serif;
}

.column-caption {
	color:#707070;
	font:10pt Helvetica, arial, freesans, clean, sans-serif;
	
}

#melody-maker-canvas {
	width:60%;
	height:400px;	
}

#beat-maker-canvas {
	display:inline-block;
	width:45%;
	height:400px;
}

#create-canvases {
	width:800px;
	margin:auto;
}

#intercanvas {
	display:inline-block;
	width:8%;
}

#login-p {
	text-align:center;
}

#bottom {
	text-align:right;
	padding:15px;
	color:#707070;
	font-size:12pt;
}

.panel-option, .horizontal-panel-option, .horizontal-panel-option-ready {
	border-radius:6px;
	text-align:center;
	padding:18px;
	margin:18px;
	width:240px;
	border-bottom:2px solid #0F0F0F;
	border-top:1px solid #FFFFFF;
	background-color:#F0F0F0;
	
	font:14pt Helvetica, arial, freesans, clean, sans-serif;
	cursor:pointer;
}

#next-mm, .horizontal-panel-option-ready {

	background-color:#99FF99;
}
#next-mm:hover, .horizontal-panel-option-ready:hover {
	background-color:#33FF33;
}

.song {
	position: relative;
	display:inline-block;
	background-color: #CCFFCC;
	border-width: 0px;
	border: 1px solid #808080;
	border-radius:3px;
	padding: 4px;
	height: 50px;
	width:130px;
	cursor: pointer;
}

.song-selected {
	position: relative;
	display:inline-block;
	background-color: #99FF99;
	border-width: 0px;
	border: 1px solid #808080;
	border-radius:3px;
	padding: 4px;
	height: 50px;
	width:130px;
	cursor: pointer;
}

#make-section-button {
	margin:auto;
}

#mm-options {
	position:absolute;
	right:0px;
	top:0px;
	display:none;
}

#mm-area {
	position:relative;
	width:800px;
	margin:auto;
}

#play-mm {
	border-radius:120px;
	padding:40px;
	width:30px;
	margin-left:95px;

}
#clear-mm {
	position:relative;
	top:40px;
}

.try-link {
	color:#000000;
}

#mm-share-zone {
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-color:#CCCCCC;
	display:none;
}
#mm-share-controls {
	top:0px;
	left:0px;
	width:350px;
	background-color:#CCCCCC;
	margin:auto;
	margin-top:80px;
}

#share-url {
	width:300px;
}
#twitter-button {
	padding:20px;
	background-color:white;
	border:1px solid gray;
	border-radius:4px;
	cursor:pointer;
}

#email-button {
	padding:20px;
	background-color:#FF80FF;
    border:1px solid gray;
    border-radius:4px;
    /*padding-right:2px;*/
    cursor:pointer;
}

#facebook-button {
	margin-left:27px;
	border:1px solid gray;
	padding:20px;
	cursor:pointer;
}

#no-web-audio {
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	text-align:center;
	z-index:-1;
}
.old-browser {
	color:red;
	font-size:16pt;
	text-align:center;
}
