body {
	margin: 0px;
	padding: 0px;
	overflow-x:hidden;
	overflow-y:hidden;
	height:100%;
	min-height:590px;
}

.master {
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	overflow-x:hidden;	
	overflow-y:hidden;
}

.song {	
	position:absolute;
	background-color:#99FF99;
	height:100%;
	width:100%;
	overflow-x:hidden;	
	overflow-y:hidden;
}
.section {
	background-color:#99AAFF;
	position:absolute;
	height:102%;
	width:102%;
	left:-1%;
	top:-1%;
	overflow-x:hidden;	
	overflow-y:hidden;
	border-radius:8px;
	border:2px solid black;
}
.part2 {
	background-color:#FFFF99;
	position:absolute;	
	left:-6px;
	top:-6px;
	height:102%;
	width:102%;
	overflow-x:hidden;	
	overflow-y:hidden;
	border-radius:8px;
	border:2px solid black;
	padding:4px;
}


h1 {
	font-size: 24px;
	color: #808080;
	padding: 0px;
	margin:0px;
}


#topbar {
	padding:2px;
	color: black;
	width: 100%;
	height: 18px;
	background-color:#FFFFFF;
	opacity:0.5;
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
	position:fixed;
	top:0px;
	left:0px;
	margin:0px;
	border-bottom:2px solid #C0C0C0;
	z-index:10;
}

#topbar:hover {
	opacity:1;
}
#omg48topbar {
	margin-left: 10px;
	vertical-align: middle;
	width: 22px;
	height: 22px;
	margin-top:-2px;
}

#topbartext {
	margin-left: 20px;
}

#topbarright {
	position: absolute;
	right: 4px;
	top: 2px;
}


.area {
	width:650px;	
}

.option-panel {
	position:absolute;
	top:50px;
	left:680px;
	margin:0px 2%;
	display:none;
}


#mm-initial-options {
	display:block;
}

.panel-option, .horizontal-panel-option {
	border-radius:6px;
	text-align:center;
	padding:18px;
	margin:18px;
	width:240px;
	border-bottom:2px solid #0F0F0F;
	border-top:1px solid #FFFFFF;
	background-color:#F0F0F0;
	
	font:14pt Helvetica, arial, freesans, clean, sans-serif;
	cursor:pointer;
	
}

.panel-option-blink, .horizontal-panel-option-blink {
	border-radius:6px;
	text-align:center;
	padding:18px;
	margin:18px;
	width:240px;
	border-bottom:2px solid #0F0F0F;
	border-top:1px solid #FFFFFF;
	background-color:#9999FF;
	color:white;
	
	font:14pt Helvetica, arial, freesans, clean, sans-serif;
	cursor:pointer;	
}

.panel-option:hover, .horizontal-panel-option:hover {
	border-bottom:2px solid #60A060;
	border-top:1px solid #808080;
}

.horizontal-panel-option {
	display:inline-block;
	width:100px;
}
.horizontal-panel-option-blink {
	display:inline-block;
	width:100px;
}


#remixer-add-buttons {
	position:absolute;
	left:9px;
}
.remixer-add-button {
	background-color:#FFFF99;
	display:inline-block;
	padding:40px 20px;
	width:160px;
	border-radius:8px;
	border:2px solid black;
	text-align:center;
	margin:0px;
}




/*from the original*/



.remixer-caption-bar {
	position:relative;
	background-color:#4fa5d5;	
	font: 18px Helvetica, arial, freesans, clean, sans-serif;
	/*color:white;*/
	padding:8px;
}

.remixer-caption {
	/*text-align:center;*/
	font: 28px Helvetica, arial, freesans, clean, sans-serif;
	padding:18px;  
}

.remixer-area {
	padding:4px;
	position:relative;
}


.remixer-button-row {
	display:none;
}

.remixer-message {
	padding:5px;
	margin:5px;
}

.remixer-collection, .remixer-part-holder {
	margin:2px;
	/*border:1px solid #C0C0C0;*/
	padding:4px;
	position:relative;
	cursor:pointer;
}

.remixer-part-command {
	margin:2px;
	border:1px solid white;
	padding:0px 4px 0px 4px;
	/*position:absolute;*/
	font: 18px Helvetica, arial, freesans, clean, sans-serif;
	font-style:bold;
	display:inline-block;
	margin-top:0px;
	margin-left:2px;
	margin-right:0px;
	cursor:pointer;	
}

.remixer-part-command:hover {
    border:1px solid black;
}


.beat-marker {
	position:absolute;
	background-color:#4fa5d5;
	top:0px;
	height:200px;
	width:30px;
	opacity:0.6;
	display:none;
	cursor:pointer;
}

.remixer-part {
	position:relative;
	padding:0px;
    background-color:#black;   
}



#no-web-audio {
	display:none;
}

.old-browser {
		color:red;
}


.remixer-part-rightbar {
	position:absolute;
	right:0px;
	top:0px;
}

.part-drumkit, .part-bpm, .part-key {
	display:inline-block;
	padding:5px;
	padding-top:0px;
}


.relative-container {
	position:relative;
}


.remixer-zone {
/*	color:black;
    border: #4fa5d5 solid 4px;
    background-color:white;
    border-radius:5px 5px 0px 0px;
    margin:0px;
    margin-right:0px;
*/
    position:relative;	
}

.remixer-part-type {
	font: 18px Helvetica, arial, freesans, clean, sans-serif;
	display:inline-block;
	/*text-align:center;*/
}



#bbody {
	width:1024px;
	margin:auto;
	position:relative;
	margin-top:22px;
	
}
   

#share-dialog {
	padding:50px;
	padding-top:0px;
	position:absolute;
	top:100px;
	left:100px;
	border:1px solid gray;
	border-radius:2px;
	background-color:#D0D0D0;
	display:none;
	text-align:center;
}

#dialog-border {
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#303030;
	opacity:0.6;
}

#twitter-button {
	background-color:white;
	border:1px solid gray;
	border-radius:4px;
	cursor:pointer;
}

#email-button {
	background-color:#FF80FF;
    border:1px solid gray;
    border-radius:4px;
    padding-right:2px;
    cursor:pointer;
}

#facebook-button {
	cursor:pointer;
}

#logout-area {
	text-align:center;
}

#share-url {
	width:300px;
}

#melody-maker {
	/*display:none;*/
	visibility:hidden;
}

#melody-maker-canvas {
    background-color:#F4F4F4;
    width:100%;
    margin:0px 2% ;	
}

#beatmaker-canvas {
	width:100%;
}


#melody-maker-button-row {
	display:inline-block;
}

#show-me-how {
	text-align:center;
	padding:20px;
	border:1px solid gray;
	border-radius:3px;
	margin:0px 10%;
	font:18pt Helvetica, arial, freesans, clean, sans-serif;
	background-color:#2ff24f;
	color:white;
	cursor:pointer;
}

#show-me-how:hover {
	background-color:orange;
}

.headline {
	font-size:16pt;
	margin-top:8px;
}

#demo-mode {
	font:18pt Helvetica, arial, freesans, clean, sans-serif;
	color:white;
	display:none;
	position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    padding:20px;
    border-radius:4px;
    background-color:#2ff24f;
	cursor:pointer;
}
#demo-text {
	margin:8px;
	background-color:white;
	padding:10px;
	color:black;
	position:absolute;
	right:40px;
	bottom:0px;
}

.remixer-bottom-bar {
	background-color:#4fa5d5;
	color:white;
	text-align:right;
	margin-top:-3px;
	padding-right:10px;
	padding-bottom:2px;
    font: 14px Helvetica, arial, freesans, clean, sans-serif;
}

.remixer-bottom-bar > a  {
    background-color:#4fa5d5;
    color:white;
    text-align:right;
}

.add-rest-image {
	vertical-align:middle;
	height:30px;
	margin:2px;
	border:1px solid gray;
}

.add-rest-image:hover {
   border:1px solid black;
   background-color:#D0D0D0;
}

.part-advanced-mm {
	display:none;
}

.list-caption {
	text-align:center;
}


.nodata, #contact, #left-panel-go-back, #left-panel-heading {
	text-align:center;
	color:#404040;
	font:10pt Helvetica, arial, freesans, clean, sans-serif;
}


.app-desc,.nodata {
	color:#404040;
	font:10pt Helvetica, arial, freesans, clean, sans-serif;
}

#welcome {
	padding:12px;
	position:absolute;
	top:0px;
	pointer-events:none;
	display:block;
	left:260px;
}


#beatmaker {
	display:none;
}

#remixer {
	display:none;
}


.getting-started-subtext {
	color:#898f9c;
	font:11pt Helvetica, arial, freesans, clean, sans-serif;
	
}

.getting-started {
	font-size:16pt;
	margin-top:8px;
	text-align:center;
	font-family:Helvetica, arial, freesans, clean, sans-serif;
	font-weight:bold;
	
}

#omg-title {
	color:#404040;
}


.remixer-part-leftbar {
	display:inline-block;
}

.auto-add-rests-on {
	padding:4px;
	display:inline-block;
	color:white;
	background-color:#4fa5d5;
	border:1px solid gray;
}

.auto-add-rests-off {
	padding:4px;
	display:inline-block;
	border:1px solid gray;
}


.remixer-part-instrument {
	position:relative;
	top:-4px;
}


#rearranger {
	display:none;
}

#play-section, #play-mm, #play-song {
	border-radius:120px;
	padding:40px;
	width:30px;
	margin-left:95px;

}


#mm-options {
	display:none;
}

#next-mm, #remixer-next {
	background-color:#99FF99;
}
#next-mm:hover, #remixer-next:hover {
	background-color:#33FF33;
}
#next-song {
	background-color:#55FF55;
}
#next-song:hover {
	background-color:#00FF00;
}


.remixer-part-holder {
	border-radius:8px;
	border:2px solid black;
	background-color:#FFFF99;
	
}

#song-option-panel {
	display:none;
	position:absolute;
	left:0px;
	top:435px;
	width:1000px;
}

#add-section {
	left:130px;
	top:78px;
	width:60px;
	height:14px;
	padding:133px 20px 153px 20px;
	text-align:center;
	cursor:pointer;
}

#clear-song {
	position:relative;
	left:120px;
}

#clear-remixer, #clear-mm {
	position:relative;
	top:80px;
}

.section-controls {
	border:1px solid orange;
	background-color:#808080;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:1;
	position:absolute;
	display:none;
}