.overview-graphics {text-align:center; }

.overview-section-graphics {visibility:hidden; text-align:center; border-radius:2px;
	border:2px solid black; background-color:#0099FF;
	width:78px;
	margin:auto;
	padding-top:6px;
	margin-bottom:6px;
	display:inline-block;}

#overview-section-c {
	background-color:white;
	border:0px;
	visibility:visible;
	opacity:0.3;	
}
.overview-graphic {margin:-1px; background-color:#FFFF66; padding:5px; border-radius:2px;
	border:2px solid black;}

#overview-parts {display:none; opacity:0; margin-top:15px;}

.overview-step {font-size:14pt; text-align:center; margin-bottom:4px; opacity:0.3;}
#overview-step5 {display:none;
	width:700px;
	margin:auto;
	text-align:left;
	}
.overview-try {
	font-size:16pt;
	color:#808080;
}

#overview-skip {position:absolute;  
	bottom:3px; 
	right:3px;
	color:#808080;
	font-size:10pt;
	text-align:right;
	display:none;
	}
.timebar {
	position:absolute;
	width:11px;
	background-color:black;
	border:2px solid #808080;
	border-radius:4px;
	top:80px;
	left:350px;
	height:140px;
}



#overview-screen { 
	padding-top:6px;
	position:relative;}
	
.overview-option,.overview-option-holder {
	width:130px;
	display:inline-block;
	border-radius:3px;
	border:1px solid #808080;
	cursor:pointer;
}

.overview-option-holder {
	visibility:hidden;
}

.overview-option-caption {
	width:140px;
	display:inline-block;
	text-align:right;
}

#overview-skip {
	width:200px;
}


#what-next {display:none;}
.step {
	position:relative;
	display:none;
	
}



.try-details {
	text-align:center;
}

.try-link {
	text-align:center;
	font-size:14pt;
}

.horizontal-panel-option {
	display:inline-block;
	width:120px;
}

#overview-got-it, #make-section-continue {
	/*position:absolute;
	right:0px;
	bottom:0px;
	margin:0px;*/
	
	width:220px;
	background-color:#99FF99;
}
#overview-got-it:hover, #make-section-continue:hover {
	background-color:#33FF33;
}
.panel-options {
	text-align:center;
}

#skip-intro {
	position:absolute;
	top:3px;
	left:47%;
}

#what-next-possibilities {
	
	padding-left:180px;
	
}

.selected-main-tab, .main-tab {
	display:inline-block;
	width:22%;
	text-align:center;
	border:1px solid #C7C7C7;
	border-bottom:1px solid black;
	padding:14px;
	background:#F0F0F0;
	margin:-2px;
	border-radius:12px 12px 0px 0px;
	cursor:pointer;
}
.selected-main-tab {
	border:1px solid black;
	border-bottom:0px;
	background:white;
	cursor:default;
}
.main-tabs {
	text-align:center;

	}
	
#overview-got-it {
	text-align:center;
	margin:auto;
	margin-top:25px;
	padding:10px;	
}